body {
        margin: 0px;
}

.page {
	background-image: url("newsbackground.png");
	background-position: center top;
	background-attachment: fixed;
	height: 100%;
	overflow: auto;
	font-family: MONOSPACE;
}

.pageTitle {
    background-color: #fff;
    padding: 3%;
    margin: 5%;
    font-weight: bold;
    text-shadow: 1px 1px #f00;
}

.pageContent {
    background-color: #fff;
    padding: 3%;
    margin: 5%;
}

.pageNext {
    background-color: #fff;
    padding: 3%;
    margin: 5%;
}

.pageFooter {
    background-color: transparent;
    padding: 3%;
    margin: 5%;
    margin-top: 0%;
    padding-top: 0%;
    color: #f00;
}

a {
	color: #f00;
	text-decoration: none;
}

.red {
	color: #f00
}

.bold {
	font-weight: bold;
}
